<div class="top-index-page">
    <div id='src-bx-index' >
        <h1 class='index-title'>Wanna shop? You are at the right place</h1>
        <div class="search-box" >
            <i class="fas fa-map-marker-alt marker-pitch"></i>
            <input type="text" style="border:none" class="form-control" placeholder="21 st street brodway...">
        </div>
    </div>
</div>
<%= render partial:'shops/partial/index/pitch' %>
<%= render partial:'shops/partial/index/pepite' %>
<div class="container mt-3">
  <div class="cards-shops">
    <div class='row justify-content-around'>
        <%= render partial:'shops/partial/index/shop_index', collection: @shops, as: :shop%>
    </div>
  </div>
</div>


