<nav class="nav  navbar-light">
    <div class="big-nav-item justify-content-between">  
        <div class='logo'></div>
        <div id='src-bx' >  
            <div class="search-box" >
                <i class="fas fa-map-marker-alt marker-pitch"></i>
                <input type="text" style="border:none" class="form-control" placeholder="21 st street brodway...">
            </div>
        </div>
        <div class="div-menu">
            <div class='menu'>
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </div>    
  </div>
</nav>