<div class="mb-4">
  <p class='title-footer'>About</p>
  <div>
    <span class="sub-item-text-footer mb-4">Who are we ?</span>
    <span class="sub-item-text-footer mb-4">Our blog</span>
  </div>
</div>
