<div>
  <p class='title-footer'>Terms and conditions</p>
  <span class="sub-item-text-footer mb-4">GCS</span>
  <span class="sub-item-text-footer mb-4">Privacy statement</span>
  <span class="sub-item-text-footer mb-4">Cookies</span>
</div>
