<div>
  <p class='title-footer'>Reach us</p>
  <span class="sub-item-text-footer mb-4">Frequently asked questions</span>
  <span class="sub-item-text-footer mb-4">Press</span>
  <span class="sub-item-text-footer mb-4">Meet the crew</span>
  <span class="sub-item-text-footer mb-4">Work with us</span>
</div>



