<div class="info-left-side">
    <span class="shop-name"><%= shop.name %></span>
    <p class='shop-desc'>
        Undoubtedly the most beautiful shop of Camden. To start, you can enjoy the stunning lake views and then wander through the shop admiring the beauty of the simplicity of the sculptures and painting.
    </p>
    <div class="d-flex list-taxon-txt">
    </div>
    <div class='mt-3 mb-3'>
        <span class="txt-delivery">
            <i class="fas fa-bicycle"></i>Delivery
        </span>
    </div>

    <div class="rating d-flex mb-4">
        <span class="value"><i class="fas fa-star"></i>4.8</span>
        <span class="sample-size opa-5">(2986 votes)</span>
    </div>
    <div class="shop-more-info-div mt-4">
        <span class=" "><i class="fas fa-info"></i>More info</span>
    </div>
</div>
