<div class="pepite justify-content-center d-flex ">
  <p class='pepit-titre'>Gems from your neighborhood</p>
  <p class='pepit-intro'>We focus on shops that tell a strong story through their products, whether it's the intricacies within the construction or the boundary-pushing ideas that are displayed through creative direction.</p>
</div>
