<div class="pitch text-center">
  <p class='pepit-titre pitch-titre'>All your favorites shops</p>
  <div class='container-fluid'>
    <div class="row justify-content-around">
        <div class="step col-7 col-sm-7  col-md-5 col-lg-2 ">
            <div class='col-12 dot-over'>
                <i class="fas fa-map-marker-alt marker-pitch"></i>
                <p class='txt-step dot-over boldy mt-2'>Shops near me :</p>
                <p class='txt-step dot-over'>Enter your address and find the best one of your neighborhood, selected by our team of connoisseur!</p>
            </div>
        </div>
        <div class="step col-7 col-sm-7  col-md-5 col-lg-2 ">
            <div class='col-12 dot-over'>
                <i class="far fa-heart"></i>
                <p class='txt-step dot-over boldy mt-2'>Community :</p>
                <p class='txt-step dot-over'>More interaction with your fellow residents and a greater connection to your community, weekdays and weekends.</p>
            </div> 
        </div>
        <div class="step col-7 col-sm-7  col-md-5 col-lg-2 ">
            <div class='col-12 dot-over'>
                <i class="fas fa-shopping-bag"></i>
                <p class='txt-step dot-over boldy mt-2'>Support :</p>
                <p class='txt-step dot-over'>Buying from local shops means your money stays in the community. This helps to ensure retail diversity in your neighborhood.</p>
            </div>
        </div>
        <div class="step col-7 col-sm-7  col-md-5 col-lg-2 ">
            <div class='col-12 dot-over'>
                <i class="fas fa-biking"></i>
                <p class='txt-step dot-over boldy mt-2'>Save times: </p>
                <p class='txt-step dot-over'>We provide service at all stages of your order, up to delivery or collection in store!</p>
            </div>
        </div>
    </div>
  </div>
</div>
